<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Books</title>
</head>
<body>
<h1>Find Book</h1>

<form th:action="@{/view}" method="get">
    <p>ID: <input type="id" th:name="id"/></p>
    <p><input type="submit" value="Submit"/></p>
    <p><input type="reset" value="Reset"/></p>
</form>

<form th:action="@{/books}" th:method="get">
    <p><input type="submit" value="View All Books"/></p>
</form>

<h1>Update Book</h1>
<form th:action="@{/update}" method="get">
    <p>ID: <input type="id" th:name="id"/></p>
    <p>Author: <input type="author" th:name="author" /></p>
    <p>Title: <input type="title" th:name="title"></p>
    <p><input type="submit" value="Update" ongit click="onUpdate()"/></p>
    <p><input type="reset" value="Reset"/></p>
</form>
<table>

    <tr>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
    </tr>
    <tr>
        <td th:text="${book.id}">123</td>
        <td th:text="${book.author}">test</td>
        <td th:text="${book.title}">test</td>
    </tr>
</table>
<p><input type="button" onclick="goBack()" value="Back"></p>
<p><input type="button" onclick="goMain()" value="Main Page"></p>
</body>
<script>
    function onUpdate() {
        alert("Book Updated\nYou can check if book updated on View Page")
    }
    function goBack(){
        window.history.back();
    }
    function goMain(){
        window.location.href="/index";
    }
</script>
</html>